body {
    text-align: center;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    background: linear-gradient(to right, #878787, #444444);
    margin-left: 25%;
    margin-right: 25%;
}

.block {
    width:100px;
    height:20px;
    background:red;
    display:block;
}

.inline {
    width:100px;
    height:100px;
    background:red;
    display:inline;
}

.inline-block {
    width:100px;
    height:100px;
    background:red;
    display:inline-block;
}