h3 {color: red; background-color: #33F933}
/*h2, li{font-size: 80%; color: #FFFFFF}*/
p code {color: red}
.voorbeeld {font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #FF6600;
            font-size: 90%}